<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog發布頁面</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!--    MD生產環境-->
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<!--導航-->
<nav th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Administration</h2>
            <a href="#" class="active m-item item m-mobile-hide"><i class=" home icon"></i>Blog</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" idea icon"></i>分類</a>
            <a href="#" class="m-item item m-mobile-hide"><i class=" tags icon"></i>標籤</a>
            <!--            右邊管理者頭像-->
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="https://picsum.photos/id/1027/150/150">
                        Harvey Tsai
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">註銷</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    下拉選單按鈕-->
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!--次級導航，還要在研究下他的結構-->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blogs/input}" class="teal active item">Post</a>
            <a href="#" th:href="@{/admin/blogs}" class="item">List</a>
        </div>

    </div>
</div>

<!--中間內容-->
<div class="m-container m-padded-tb-big animated fadeIn">
    <div class="ui container">
        <!--        Header-->
        <form id="blog-form" action="#" th:object="${blog}" th:action="@{/admin/blogs}" method="post" class="ui form">
            <!--            下拉選單-->
<!--            當點保存時為false 0 當點擊發布則為True 1-->
            <input type="hidden" name="published" th:value="*{published}">
            <input type="hidden" name="id" th:value="*{id}">
            <!--required表單驗證配合下面JS-->
            <div class="required field">
                <div class="ui left labeled input">
                    <!--                Compact 框框適應文字大小-->
                    <div class="ui selection compact teal basic dropdown label">
                        <input type="hidden" value="原創作品" name="flag" th:value="*{flag}">
                        <i class="dropdown icon"></i>
                        <!--                    撰寫默認值-->
                        <div class="text">原創作品</div>
                        <div class="menu">
                            <div class="item" data-value="原創作品">原創作品</div>
                            <div class="item" data-value="轉貼分享">轉貼分享</div>
                            <div class="item" data-value="翻譯文學">翻譯文學</div>
                        </div>
                    </div>
                    <!--            此處name 對應到的是 Model裡面blog的column-->
                    <input type="text" name="title" placeholder="Article title" th:value="*{title}">
                </div>
            </div>

            <div class="required field">
<!--                插入MD語法區域  並且透過z-index放到最上方不會讓semantic蓋住-->
                <div id="md-content" style="z-index: 1 !important;">
                    <textarea placeholder="BLOG内容" name="content" style="display: none" th:text="*{content}"></textarea>
                </div>
            </div>
            <!--fluid稱滿-->
            <!--           分類和標籤-->
            <div class="two fields">
                <div class="required field">
                    <div class="ui left labeled action input">
                        <label class="ui compact teal basic label">分類</label>
                        <div class="ui fluid selection dropdown">
<!--                            三元運算子 看type是否為空，判斷是否不等於空-->
                            <input type="hidden" name="type.id" th:value="*{type}!=null ? *{type.id}">
                            <i class="dropdown icon"></i>
                            <div class="default text">分類</div>
                            <div class="menu">
                                <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.name}">日誌</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left labeled action input">
                        <label class="ui compact teal basic label">Label</label>
                        <!--                        標籤多個也可以搜索 multiple search 超神奇的-->
                        <div class="ui fluid selection multiple search  dropdown">
                            <input type="hidden" name="tagIds" th:value="*{tagIds}">
                            <i class="dropdown icon"></i>
                            <div class="default text">Label</div>
                            <div class="menu">
                                <div th:each="tag : ${tags}" class="item" data-value="1" th:data-value="${tag.id}" th:text="${tag.name}">Java</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">Photo Address</label>
                    <input type="text" name="firstPicture" th:value="*{firstPicture}" placeholder="Photo Address">
                </div>
            </div>

            <div class="required field">
                <textarea name="description" th:text="*{description}" placeholder="博客描述..." maxlength="200"></textarea>
            </div>



            <!--checkbox 包含:推薦 分享 打賞 評論-->
            <!--            checked 先選擇默認-->
<!--            此處id 對應到的是 Model裡面blog的column-->
            <div class="inline fields">
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="recommend" name="recommend" checked th:checked="*{recommend}" class="hidden">
                        <label for="recommend">recommend</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="shareStatement" name="shareStatement" th:checked="*{shareStatement}" class="hidden">
                        <label for="shareStatement">shareInfo</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="appreciation" name="appreciation" th:checked="*{appreciation}" class="hidden">
                        <label for="appreciation">appreciation</label>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" id="commentabled" name="commentabled" th:checked="*{commentabled}" class="hidden">
                        <label for="commentabled">Comment</label>
                    </div>
                </div>
            </div>

            <!--            表單驗證Error message-->
            <div class="ui error message"></div>


            <!--            下面三個Button-->

            <div class="ui right aligned container">
                <!--                button 要給他type，默認是提交表單 window.history.go(-1)返回上一個頁面-->
                <button type="button" class="ui button" onclick="window.history.go(-1)">Turn Back</button>
                <button type="button" id="save-btn" class="ui secondary button">Save</button>
                <button type="button" id="publish-btn" class="ui teal button">Submit</button>
            </div>


        </form>

    </div>
</div>


<br>
<br>
<!--底部footer-->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/Qrcode.png" class="ui rounded image" alt="" style="width: 110px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">Lastest Blog</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                    <a href="#" class="item m-text-thin">用户故事（User Story）</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">聯繫我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item m-text-thin">Email：Harvey09613257@gmail.com</a>
                    <a href="#" class="item m-text-thin">TEL : 0900000000</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">這是我的第一個Blog網站 </p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2021 Designed by Harvey</p>
    </div>

</footer>

<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->


<script>

    // 初始化MD IDE
    var contentEditor;
    $(function() {
        contentEditor = editormd("md-content", {
            width   : "100%",
            height  : 640,
            syncScrolling : "single",
//        path    : "../static/lib/editormd/lib/"
            path    : "/lib/editormd/lib/"
        });
    });


    $('.menu.toggle').click(function (event) {
        event.preventDefault();
        $('.m-item').toggleClass('m-mobile-hide');
    });

    //下拉選單 https://semantic-ui.com/modules/dropdown.html#/usage

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    //當點擊保存時處理方式
    $('#save-btn').click(function () {
        $('[name="published"]').val(false);
        $('#blog-form').submit();
    });

    //當點擊發布時處理方式
    $('#publish-btn').click(function () {
        $('[name="published"]').val(true);
        $('#blog-form').submit();
    });

    //Semantic web 的 Behaviors -> Form Validation校驗
    $('.ui.form').form({
        fields : {
            title : {
                identifier: 'title',
                rules: [{
                    type : 'empty',
                    prompt: '標題:請輸入Blog title'
                }]
            },
            content : {
                identifier: 'content',
                rules: [{
                    type : 'empty',
                    prompt: '標題:請輸入Blog 內容'
                }]
            },
            typeId : {
                identifier: 'type.id',
                rules: [{
                    type : 'empty',
                    prompt: '標題:請輸入Blog 分類'
                }]
            },
            firstPicture : {
                identifier: 'firstPicture',
                rules: [{
                    type : 'empty',
                    prompt: '標題:請輸入Blog 圖片'
                }]
            },
            description : {
                identifier: 'description',
                rules: [{
                    type : 'empty',
                    prompt: '标题：请输入博客描述'
                }]
            }
        }
    });

</script>

</body>
</html>