<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog 管理登入頁面</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <!-- 注意Link路徑-->
    <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="m-container-small m-padded-tb-massive">
    <div class="ui container">
        <div class="ui middle aligned center aligned grid">
            <div class="column" style="max-width: 30em !important;">
                <h2 class="ui teal image header">
                    <div class="content">
                        Blog Login Platform
                    </div>
                </h2>
                <!--                方法用Post-->
                <!--                th:action登入進去-->
                <form class="ui large form" method="post" action="#" th:action="@{/admin/login}">
                    <div class="ui segment">
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="username" placeholder="Username">
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" placeholder="Password">
                            </div>
                        </div>
                        <!--                        這裡改button-->
                        <button class="ui fluid large teal submit button">Login</button>
                    </div>

                    <div class="ui error mini message"></div>
                    <!--                    有值才會顯示-->
                    <div class="ui mini negative message" th:unless="${#strings.isEmpty(message)}" th:text="${message}">用戶名或是密碼錯誤</div>

                </form>


            </div>
        </div>
    </div>
</div>


<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<!--空白的表單驗證-->
<script>
    $('.ui.form').form({
        fields: {
            username: {
                identifier: 'username',
                rules: [{
                    type: 'empty',
                    prompt: '请输入用户名'
                }]
            },
            password: {
                identifier: 'password',
                rules: [{
                    type: 'empty',
                    prompt: '请输入密码'
                }]
            }
        }
    });
</script>
<!---->

</body>
</html>