spring:
  thymeleaf:
    mode: HTML
    prefix: classpath:/templates/
    suffix: .html


  profiles:
    active: dev

logging:
  level:
    root: info
    com.imcoding: debug
  file:
    name: log/blog.log


comment.avatar: /images/avatar.jpg